name: Deploy
on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Git Branch to deploy"
        required: true
        default: "main"
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: stg

    steps:
      - name: Checkout
        uses: actions/Checkout@v4
        with:
          ref: ${{ inputs.branch }}
      
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 18
      
      - name: Install Dependencies
        run: npm install  
      
      # - uses: pocket-apps/action-setup-firebase@v2
      #   with:
      #     firebase-token: ${{ secrets.FIREBASE_TOKEN }}
      
      - name: Build
        run: npm run build
      
      - name: Deploy to Firebase
        uses: w9jds/firebase-action@master
        with:
          args: deploy --only hosting
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN }}
         
      
