name: Deploy
-on:
  workflow_dispatch:
    inputs:
      branch:
        description: "Git Branch to deploy"
        required: true
        default: "main"
jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: stg

    steps:
      - name: Checkout
        uses: actions/Checkout@v4
        with:
          ref: ${{ inputs.branch }}